body {
  font-family: Roboto, -apple-system, "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
  color: white;
  }
#app
{
  width: 100%;
  height: 100%;
}

#navbar {
  position: static;
}

#footer {
  float: right;
  padding-right: 50px;
}

a {
  color: #ff6;
  text-decoration: underline;
}

a:hover {
  color: #4ee;
}


h2 {
  color: #eee;
  padding-bottom: 20px;
}

.currency-from {
  width: 100%;
  height: 250px;
  background: #1883E2;
}

.currency-to {
  width: 100%;
  height: 250px;
  background: #136BAA;
}

.slick-dots li.slick-active button:before{opacity:.75;color:#fff}

.currency-amount-div {
  width: 100%;
  height: 100%;
  top: 0px;
  position: relative;
  right: 0px;
  margin-top: auto;
  margin-bottom: auto;
}

.balance {
  position: relative;
  padding-left: 10px;
  top: -50px;
}

.balance-rate {
  position: relative;
  // background: green;
  text-align: right;
  padding-right: 10px;
  top: -80px;
}

.currency {
  position: relative;
  height: 175px;
  line-height: 175px;
  top: 25px;
  bottom: 25px;
  font-size: 40px;
  padding-left: 10px;
  width: 10%;
}

.currency-amount {
  // border: solid red;
  // background: red;
  position: absolute;
  right: 0%;
  top: 25px;
  height: 175px;
  font-size: 40px;
  // direction:RTL;
  text-align: right;
  width: 90%;
  padding-right: 10px;
  color: white;
  background: transparent;
  border: 0px solid;
  color: #fff;
}

.currency-amount:focus {
    outline: none;
}

.rates-outer {
  position: absolute;
  top: 0px;
  height: 30px;
  width: 100%;
}

.rates-inner {
  width: 200px; 
  border-radius: 25px;
  border: 1px solid;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-dots {
  position: relative;
  top: 20px;
}

.unsufficient-balance {
  color: red;
}

.arrow-down {
  // position: relative;
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  margin-left: auto;
  margin-right: auto;
  border-top: 20px solid #1883F2;
}

#exchange {
  position: absolute;
  padding-right: 10px;
  top: 0px;
  right: 0px;
}

.disable-exchange {
  color: #bdbdbd;
}
